body {
  padding: 0;
  background-color: white;
}

.btn-round {
  border-radius: 20px !important;
  padding: 0.375rem 20px !important;
}

.table-fixed tbody {
  height: 400px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;
}

.table-fixed tbody td::after,
.table-fixed tbody th::after,
.table-fixed thead > tr > th::after {
  content: "";
  clear: both;
  display: block;
}

.login-page {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.login-box {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.wrap {
  position: relative;
}

.btn-grub {
  position: absolute;
  display: inline;
  float: right;
  right: 0;
}

.btn-act {
  opacity: 0 !important;
}

.table-act tr:hover .btn-act {
  opacity: 1 !important;
}

